*{
    margin:0px;
padding: 0px;
box-sizing: border-box;
}


.outer-container{
    /* height: 100vh;
    border: 100vw; */
   background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D');
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}


.heading-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* border: 1px solid white; */
    border-bottom: 4px solid #FFFDD0; /* Cream-colored bottom border */
    box-shadow: 0 2px 5px rgba(255, 253, 208, 0.7);
}

.left{
    padding-left: 20px;
    font-size: 1.5rem;
    color: bisque;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(255, 253, 208, 0.7);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.books-container{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    padding: 60px;
}


.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content {
    padding: 15px;
}
.card-content h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}
.card-content p {
    margin: 5px 0;
    color: #555;
}


.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.delete-button {
    background-color: #e56975;
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
            border-radius: 8px;
            width: 400px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: relative;
        }
        .modal-content h2 {
            margin-top: 0;
        }
        .modal-content input,
        .modal-content button {
            margin-bottom: 10px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }
        .modal-content .close {position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: #333;
        }